
/* Logo Section */
.pro-logo {
display: flex;
align-items: center;
gap: 12px;
}


.logo-img {
width: 38px;
height: 38px;
border-radius: 50%;
border: 2px solid var(--accent);
}


.logo-text {
font-size: 1.6rem;
font-weight: 800;
color: var(--text-light);
letter-spacing: 1px;
}


/* Menu */
.pro-menu {
display: flex;
gap: 32px;
}


.pro-link {
color: var(--text-light);
font-size: 1.1rem;
font-weight: 500;
text-decoration: none;
position: relative;
padding: 5px 0;
transition: color 0.3s ease;
}


.pro-link:hover {
color: var(--accent);
}


/* Underline Animation */
.pro-link::after {
content: "";
position: absolute;
width: 0%;
height: 3px;
bottom: -5px;
left: 50%;
transform: translateX(-50%);
background: var(--accent);
border-radius: 20px;
transition: width 0.3s ease;
}


.pro-link:hover::after {
width: 100%;
}


/* Action Button */
.pro-btn {
background: var(--accent);
color: var(--primary);
font-weight: 700;
padding: 8px 22px;
border-radius: 6px;
border: none;
cursor: pointer;
font-size: 1rem;
transition: 0.3s ease;
}


.pro-btn:hover {
background: var(--btn-hover);
transform: translateY(-2px);
}