.slider-image{
    width: 100%;
    height: 100%    ;
}

.slider-img-container{
    position: relative;
    
}




.prev{
    position: absolute;
    left: 0.7rem;
    top: 10rem;
    font-size: 4rem;
    height: 10rem;
    width: 10rem;
    border: none;
    background-color: transparent;
    color: white;
    opacity: 0.6;
}

.next{
    position: absolute;
    right: 0.7rem;
    top: 10rem;
    font-size: 4rem;
    height: 10rem;
    width: 10rem;
    border: none;
    background-color: transparent;
    color: white;
    opacity: 0.6;
}