.Nav-Bar{
    background-color: #131921;
    display: flex;
    justify-content: center;
    color: white;
    justify-content: space-around;
}

.nav-bar-logo{
    
    margin-left: 2rem;
    background-color: transparent;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

.nav-bar-logo img{
    width: 100px;
    height: 70px;
}

.nav-bar-logo:hover{
    border: 0.1rem solid #ddd;
}

.border-line:hover{
    border: 0.1rem solid #ddd;

}
.location-icon{
    margin-left: 2rem;
    width: 2rem;
    height: 60%;
    display: flex;
    margin-top: 0.7rem;
    border: 1px solid transparent;
}

.location-icon i{
    font-size: 3rem;
    margin-right: 0.6rem;
    margin-top: 1.5rem;
}

.location-text{
    width: 8rem;
    font-size: 1.7rem;
    
}

.location-text p{
    color: #CCCCCC;
}

.location-text span{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
}

.nav-location{
    border: 0.1rem solid transparent;

}

.nav-location:hover .location-text{
    border: 0.1rem solid #ddd;
}


.nav-search-bar{
    width: 73rem;
    margin-left: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.nav-search-bar select{
    height: 75%;
    text-align: center;
    width: 6rem;
     margin-top: 1rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    background-color: #D4D4D4;
    padding-top: 0.5rem;
    
}

.nav-search-bar input{
    height: 75%;
    border: none;
    width: 60rem;
    margin-top: 1rem;
    padding-top: 0.1rem;
    background-color: white;
    font-size: 2rem;
    outline: none;
}

.nav-bar-logo input::placeholder{
    font-size: 7rem;
}


.nav-search-btn{
    background-color: #F3A847;
    height: 75%;
    border: none;
    width: 6rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.nav-search-btn i{
    font-size: 2rem;
}

.nav-language{
    height: 100%;
    width: 6rem;
    text-align: center;
    display: flex;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.nav-language:hover{
    border: 2px solid #ddd;
}
.nav-language p{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bold;
    justify-items: center;
    padding-left: 0.5rem;
}

.nav-language img{
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
}

.nav-sign-in{
    margin-top: 1.7rem;
    font-size: 1.5rem;
}


.nav-return-orders{
    height: 80%;
    width: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-cart{
    height: 80%;
    width: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    /* padding-left: 3rem; */
}

.nav-cart i{
    font-size: 3rem;
}

.nav-cart p{
    font-size: 2rem;
    font-weight: bold;
}